<% @page_header = "Confirmation of Entry" %>
<% @page_title = "Confirmation of Entry" %>

<div class = "home-message text-center">
  <h3> Welcome to the UNM Room Reservation App </h3>
  <div id="jsonData"></div>
</div>
