<% @page_title = "Homepage" %>
<% @page_header_center = "Welcome to the Room Reservation App" %>

<div class = "home-message text-center">
  <h2> Welcome to the UNM Room Reservation App </h2>
  <p> Scroll through Various rooms To find What you're Looking for </p>
  <p> Then .....A simple Click....And done!!! </p>
  <p> You're all Set up To Use a Room </p>
</div>
