@import url(https://fonts.googleapis.com/css?family=Raleway|Abel|Amiri|Marmelad);
@import "bootstrap-sprockets";
@import "bootstrap";
@import "base";
@import "reset";
@import "fullcalendar";
@import "calendar";
@import "fullcalendar.print";
@import "parts";
@import "home";
@import "rooms";
@import "reservations";

body{
  font-family: $main-font;
  color: $main-color;
  background-color: $main-bgcolor;
  opacity: 10%;
  font-size: 160%;
  height: 100%;
  width: 100%;
}

.site-wrapper{
  background-color: lighten($main-bgcolor, 10%);
  min-height: 70em;
  padding: 5%;
}
